
tr, td
{
    border: 1px solid #333333;
}

.col-remarks
{
    width: 180px;
}

th
{
    background-color: #EEEEEE;
    color: black;
}

.tr-category-1
{
    background-color: #FF8B53;
    color: black; 
}

.tr-category-2
{
    background-color: #A086B7;
    color: black;
}

.tr-category-3
{
    background-color: #1D9E74;
    color: black;
}

.tr-category-4
{
    background-color: #BC5A84;
    color: black;
}
