@page "/"

<PageTitle>GX Format</PageTitle>

<h1>GX Format</h1>

<p>
    GX Format is a format for Yu-Gi-Oh! that never existed.
    The focus of this format is casual play of archtypes that existed in the Yu-Gi-Oh! GX anime.
</p>

<p>
    The rules of this format are as follow:
    <ol>
        <li>We use cards printed before and during <b>Light of Destruction</b> set as the base pool, then we removed some cards that were problematic like DAD, and added some more fun cards to the format like <b>Geartown</b> or <b>Mixeroid</b>.</li>
        <li>We follow the newest <b>Master Rule (2020)</b>, with a single modification, and that is that we do <b>draw during the 1st turn</b>.</li>
        <li>We use <b>duel links like banlist</b>, where you can only play 1 card out of the Limit 1 pool, 2 cards out of the Limit 2 pool, and 3 cards out of the Limit 3 pool. Increasing your deck size does not increase the amount of cards you are allowed to play from these pools.</li>
        <li>We play <b>without side decks</b>, either bo3 with only a single deck, or by each player using 3 different decks where each deck faces one of your oponents decks.</li>
    </ol>
</p>

<p><b>Welcome to the GX format!</b></p>
